.App {
  height: max-content;
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 16px;
}

.Select {
  width: 200px;
  margin-right: 10px;
}

.Price {
  width: 200px;
  height: 24px;
  padding: 6px 10px;
  border-color: #CCCCCC;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: not-allowed;
}

label {
  color: #808080;
  /* color: #2f89ff; */
}

@media screen and (max-width: 467px) {
  .App {
    flex-direction: column;
  }
  .Select {
    width: 300px;
  }
  .Price {
    width: 278px;
  }
}