.Quantity {
    margin: 20px 20px 0 0;
}

.Counter {
    position: relative;
    justify-content: center;
    align-items: center;
}

.Change {
    width: 150px;
    height: 38px;
    margin: 0 0 5px 0;
    padding: 6px 10px;
    border-color: #CCCCCC;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    text-align: center;   
    user-select: none;
}

#Add {
    width: max-content;
    height: max-content;
    top: 35%;
    right: 15px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    border-radius: 25px;
}

#Reduce {
    width: max-content;
    height: max-content;
    top: 35%;
    left: 15px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    border-radius: 25px;
}

#Add:hover {
    color: #2f89ff;
}
#Reduce:hover {
    color: red;
}