.Total {
    margin: 20px 20px 0 0;
}

.Get-Total {
    width: 200px;
    height: 38px;
    padding: 6px 10px;
    border-color: #CCCCCC;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: not-allowed;
}